## Overview of Python features

This is a "Jupyter Notebook". Formerly an IPython Notebook. It is a good way to document workflows and analysis pipelines. You can have Python, R, Fortran, Julia, etc notebooks. This is a "Markdown" cell, you can write notes, equations in latex style, $E=\kappa A ^m (\nabla z)^n$, or embed figures. 

Today we are using a Python kernel to do some cool stuff with Geoscience data. The following cell is your first Python code

In [1]:
2+4*10

42

In [2]:
#This is a comment. This is for a human to read (so you remember what your code does!)
#Python ignores anything behind the '#'.

#The next line is an example of a 'variable'. Assign values using a single '=' sign.
time=145

Note: A variable (e.g. time) must start with a letter or underscore, and can include a number

In [3]:
#Now you can use that variable in different ways.... firstly print it out to the screen
print("The age of the sample is", time, " Million years")

The age of the sample is 145  Million years

In [4]:
#Make a new variable called 'endtime' and add a constant to our 'time' variable
endtime=time+56

In [5]:
#Nothing printed out above? Good. Jupyter Notebooks won't always do that so let's tell Python to print it.
print(endtime)

201

In [6]:
#Make a new 'string' variable
geological_age='Jurassic'

#Print out some useful information that includes our different variables
print("My sample is ", endtime, " Million years old from the", geological_age, " age.")

My sample is  201  Million years old from the Jurassic  age.

In [7]:
#Make a Python List object, similar to an array.
times=[1,4.5,5+3.2,geological_age,"Another string",True]

print(times)

#There are many different types of data types and objects: 
#int, long, float, complex, NaN, logical, String, Lists, Tuple, Dictionary, functions, classes, etc

[1, 4.5, 8.2, 'Jurassic', 'Another string', True]

In [8]:
#indexing
print(times[0])

1

In [9]:
print(times[4])

Another string

In [10]:
print(times[4][0])

A

### Functions
These are bits of code you want to perhaps use many times, or keep self contained, or refer to at different points. They can take values as input and give values back (or not).

In [11]:
#Declare the name of the function
def add_numbers(x,y):
    '''adds two numbers
    usage: myaddition=addnumbers(x,y)
    returns: z
    inputs: x,y
    x and y are two integers
    z is the summation of x and y
    '''
    
    z=x+y
    
    return(z)

Note the indentation - Python forces your code to be nicely readable by using 'whitespace'/indentation to signify what chunks of code are related. You will see this more later.
    
Many functions have a header - formatted as a multiline comment with three '''. This hopefully will tell you about the function

Anyway, let's run our function, now that we have initialised it!

In [12]:
add_numbers(1,2)

3

#### Challenge 

Write a function to convert map scale. For example, on a 1:25,000 map (good for hiking!) the distance between two points is 15 cm. How far apart are these in real life? (3750 m).

[Reminder: 15 cm * 25000 = 375000 cm = 3750 m]

Your function should take as input two numbers:  the distance on the map (in cm) and the second number of the scale and, i.e. `calculate_distance(15, 25000)` should return 375000

In [ ]:
## YOUR CODE HERE

### Loops, operators, conditions
Python is great for doing something a million times. It can be useful if you have many samples/datapoints and you want to operate or manipulate those points.

In [11]:
#Loop through our list 'times' that we defined above
for mything in times:
    print(mything)

1
4.5
8.2
Jurassic
Another string
True

Sometimes you need to loop through a list, but simultaneously keep track of which index you're up to.

In [12]:
for myindex, mything in enumerate(times):
    print("index:",myindex," The thing in my 'times' list:",mything)

index: 0  The thing in my 'times' list: 1
index: 1  The thing in my 'times' list: 4.5
index: 2  The thing in my 'times' list: 8.2
index: 3  The thing in my 'times' list: Jurassic
index: 4  The thing in my 'times' list: Another string
index: 5  The thing in my 'times' list: True

You don't always need a pre-defined list

In [13]:
age=140
# What is the value of "time" ?
# age < time is a "logical" data-type. It's either True or False
while age < time:
    print("time:", time, " age:", age, " difference:",time-age)
    age=age+1

time: 145  age: 140  difference: 5
time: 145  age: 141  difference: 4
time: 145  age: 142  difference: 3
time: 145  age: 143  difference: 2
time: 145  age: 144  difference: 1

#### Control statements

In [14]:
#Control statements: if, for, while, try, 
if time < 200:
    print(time)

145

In [15]:
if time <= 200:
    print(geological_age)
elif time > 200:
    print("Triassic age")
else:
    pass #This option is not necessarily needed, but can be useful in some scenarios

Jurassic

In [16]:
#Another function
def timescale(t):
    print(t)
    if (t <= 4500) & (t > 2500):
        return("Archean")

    elif (t <=2500) & (t > 541):
        return("Proterozoic")

    elif (t <= 541) & (t > 252):
        return("Palaeozoic")

    elif (t <=252) & (t > 65):
        return("Mesozoic")

    elif (t <=65) & (t >= 0):
        return("Cenozoic")

    else:
        print ("Expect number between 0 and 4500, got:",t)
        return(float('nan'))

In [17]:
timescale(1)

1

'Cenozoic'